.main-menu {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;

  padding: 12px 28px 24px;
  line-height: 0;
  // border-top: 1px solid var(--color-border);

  color: var(--color-icon);
  background-color: #ffffff90;
  // backdrop-filter: blur(6px);
  transition: background-color, 0.2s;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    display: inline-flex;
  }
  &_colored {
    color: var(--color-selected-font);
    background-color: var(--color-selected);
  }
}
