@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.g-root_theme_light {

    --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;

    --g-color-private-brand-50: rgba(172, 184, 200, 0.1);
    --g-color-private-brand-100: rgba(172, 184, 200, 0.15);
    --g-color-private-brand-150: rgba(172, 184, 200, 0.2);
    --g-color-private-brand-200: rgba(172, 184, 200, 0.3);
    --g-color-private-brand-250: rgba(172, 184, 200, 0.4);
    --g-color-private-brand-300: rgba(172, 184, 200, 0.5);
    --g-color-private-brand-350: rgba(172, 184, 200, 0.6);
    --g-color-private-brand-400: rgba(172, 184, 200, 0.7);
    --g-color-private-brand-450: rgba(172, 184, 200, 0.8);
    --g-color-private-brand-500: rgba(172, 184, 200, 0.9);
    --g-color-private-brand-550-solid: rgb(172, 184, 200);
    --g-color-private-brand-1000-solid: rgb(55, 52, 59);
    --g-color-private-brand-950-solid: rgb(62, 60, 67);
    --g-color-private-brand-900-solid: rgb(75, 76, 84);
    --g-color-private-brand-850-solid: rgb(89, 91, 100);
    --g-color-private-brand-800-solid: rgb(103, 107, 117);
    --g-color-private-brand-750-solid: rgb(117, 122, 134);
    --g-color-private-brand-700-solid: rgb(131, 138, 150);
    --g-color-private-brand-650-solid: rgb(144, 153, 167);
    --g-color-private-brand-600-solid: rgb(158, 169, 183);
    --g-color-private-brand-500-solid: rgb(180, 191, 206);
    --g-color-private-brand-450-solid: rgb(189, 198, 211);
    --g-color-private-brand-400-solid: rgb(197, 205, 217);
    --g-color-private-brand-350-solid: rgb(205, 212, 222);
    --g-color-private-brand-300-solid: rgb(214, 220, 228);
    --g-color-private-brand-250-solid: rgb(222, 227, 233);
    --g-color-private-brand-200-solid: rgb(230, 234, 239);
    --g-color-private-brand-150-solid: rgb(238, 241, 244);
    --g-color-private-brand-100-solid: rgb(243, 244, 247);
    --g-color-private-brand-50-solid: rgb(247, 248, 250);

    --g-color-private-orange-50: rgba(253, 176, 109, 0.1);
    --g-color-private-orange-100: rgba(253, 176, 109, 0.15);
    --g-color-private-orange-150: rgba(253, 176, 109, 0.2);
    --g-color-private-orange-200: rgba(253, 176, 109, 0.3);
    --g-color-private-orange-250: rgba(253, 176, 109, 0.4);
    --g-color-private-orange-300: rgba(253, 176, 109, 0.5);
    --g-color-private-orange-350: rgba(253, 176, 109, 0.6);
    --g-color-private-orange-400: rgba(253, 176, 109, 0.7);
    --g-color-private-orange-450: rgba(253, 176, 109, 0.8);
    --g-color-private-orange-500: rgba(253, 176, 109, 0.9);
    --g-color-private-orange-550-solid: rgb(253, 176, 109);
    --g-color-private-orange-1000-solid: rgb(67, 51, 45);
    --g-color-private-orange-950-solid: rgb(78, 58, 49);
    --g-color-private-orange-900-solid: rgb(100, 73, 57);
    --g-color-private-orange-850-solid: rgb(122, 88, 64);
    --g-color-private-orange-800-solid: rgb(144, 103, 72);
    --g-color-private-orange-750-solid: rgb(165, 117, 79);
    --g-color-private-orange-700-solid: rgb(187, 132, 87);
    --g-color-private-orange-650-solid: rgb(209, 147, 94);
    --g-color-private-orange-600-solid: rgb(231, 161, 102);
    --g-color-private-orange-500-solid: rgb(253, 184, 124);
    --g-color-private-orange-450-solid: rgb(253, 192, 138);
    --g-color-private-orange-400-solid: rgb(254, 200, 153);
    --g-color-private-orange-350-solid: rgb(254, 208, 167);
    --g-color-private-orange-300-solid: rgb(254, 216, 182);
    --g-color-private-orange-250-solid: rgb(254, 223, 197);
    --g-color-private-orange-200-solid: rgb(254, 231, 211);
    --g-color-private-orange-150-solid: rgb(255, 239, 226);
    --g-color-private-orange-100-solid: rgb(255, 243, 233);
    --g-color-private-orange-50-solid: rgb(255, 247, 240);

    --g-color-private-green-50: rgba(135, 210, 132, 0.1);
    --g-color-private-green-100: rgba(135, 210, 132, 0.15);
    --g-color-private-green-150: rgba(135, 210, 132, 0.2);
    --g-color-private-green-200: rgba(135, 210, 132, 0.3);
    --g-color-private-green-250: rgba(135, 210, 132, 0.4);
    --g-color-private-green-300: rgba(135, 210, 132, 0.5);
    --g-color-private-green-350: rgba(135, 210, 132, 0.6);
    --g-color-private-green-400: rgba(135, 210, 132, 0.7);
    --g-color-private-green-450: rgba(135, 210, 132, 0.8);
    --g-color-private-green-500: rgba(135, 210, 132, 0.9);
    --g-color-private-green-550-solid: rgb(135, 210, 132);
    --g-color-private-green-1000-solid: rgb(49, 56, 49);
    --g-color-private-green-950-solid: rgb(54, 65, 54);
    --g-color-private-green-900-solid: rgb(64, 83, 63);
    --g-color-private-green-850-solid: rgb(74, 101, 73);
    --g-color-private-green-800-solid: rgb(85, 120, 83);
    --g-color-private-green-750-solid: rgb(95, 138, 93);
    --g-color-private-green-700-solid: rgb(105, 156, 103);
    --g-color-private-green-650-solid: rgb(115, 174, 112);
    --g-color-private-green-600-solid: rgb(125, 192, 122);
    --g-color-private-green-500-solid: rgb(147, 215, 144);
    --g-color-private-green-450-solid: rgb(159, 219, 157);
    --g-color-private-green-400-solid: rgb(171, 224, 169);
    --g-color-private-green-350-solid: rgb(183, 228, 181);
    --g-color-private-green-300-solid: rgb(195, 233, 194);
    --g-color-private-green-250-solid: rgb(207, 237, 206);
    --g-color-private-green-200-solid: rgb(219, 242, 218);
    --g-color-private-green-150-solid: rgb(231, 246, 230);
    --g-color-private-green-100-solid: rgb(237, 248, 237);
    --g-color-private-green-50-solid: rgb(243, 251, 243);

    --g-color-private-yellow-50: rgba(251, 228, 137, 0.1);
    --g-color-private-yellow-100: rgba(251, 228, 137, 0.15);
    --g-color-private-yellow-150: rgba(251, 228, 137, 0.2);
    --g-color-private-yellow-200: rgba(251, 228, 137, 0.3);
    --g-color-private-yellow-250: rgba(251, 228, 137, 0.4);
    --g-color-private-yellow-300: rgba(251, 228, 137, 0.5);
    --g-color-private-yellow-350: rgba(251, 228, 137, 0.6);
    --g-color-private-yellow-400: rgba(251, 228, 137, 0.7);
    --g-color-private-yellow-450: rgba(251, 228, 137, 0.8);
    --g-color-private-yellow-500: rgba(251, 228, 137, 0.9);
    --g-color-private-yellow-550-solid: rgb(251, 228, 137);
    --g-color-private-yellow-1000-solid: rgb(67, 59, 49);
    --g-color-private-yellow-950-solid: rgb(77, 69, 55);
    --g-color-private-yellow-900-solid: rgb(99, 89, 65);
    --g-color-private-yellow-850-solid: rgb(121, 109, 75);
    --g-color-private-yellow-800-solid: rgb(143, 129, 86);
    --g-color-private-yellow-750-solid: rgb(164, 148, 96);
    --g-color-private-yellow-700-solid: rgb(186, 168, 106);
    --g-color-private-yellow-650-solid: rgb(208, 188, 116);
    --g-color-private-yellow-600-solid: rgb(229, 208, 127);
    --g-color-private-yellow-500-solid: rgb(251, 231, 149);
    --g-color-private-yellow-450-solid: rgb(252, 233, 161);
    --g-color-private-yellow-400-solid: rgb(252, 236, 172);
    --g-color-private-yellow-350-solid: rgb(253, 239, 184);
    --g-color-private-yellow-300-solid: rgb(253, 242, 196);
    --g-color-private-yellow-250-solid: rgb(253, 244, 208);
    --g-color-private-yellow-200-solid: rgb(254, 247, 220);
    --g-color-private-yellow-150-solid: rgb(254, 250, 231);
    --g-color-private-yellow-100-solid: rgb(254, 251, 237);
    --g-color-private-yellow-50-solid: rgb(255, 252, 243);

    --g-color-private-red-50: rgba(255, 100, 97, 0.1);
    --g-color-private-red-100: rgba(255, 100, 97, 0.15);
    --g-color-private-red-150: rgba(255, 100, 97, 0.2);
    --g-color-private-red-200: rgba(255, 100, 97, 0.3);
    --g-color-private-red-250: rgba(255, 100, 97, 0.4);
    --g-color-private-red-300: rgba(255, 100, 97, 0.5);
    --g-color-private-red-350: rgba(255, 100, 97, 0.6);
    --g-color-private-red-400: rgba(255, 100, 97, 0.7);
    --g-color-private-red-450: rgba(255, 100, 97, 0.8);
    --g-color-private-red-500: rgba(255, 100, 97, 0.9);
    --g-color-private-red-550-solid: rgb(255, 100, 97);
    --g-color-private-red-1000-solid: rgb(67, 40, 43);
    --g-color-private-red-950-solid: rgb(78, 43, 47);
    --g-color-private-red-900-solid: rgb(100, 50, 53);
    --g-color-private-red-850-solid: rgb(122, 57, 59);
    --g-color-private-red-800-solid: rgb(145, 65, 66);
    --g-color-private-red-750-solid: rgb(167, 72, 72);
    --g-color-private-red-700-solid: rgb(189, 79, 78);
    --g-color-private-red-650-solid: rgb(211, 86, 84);
    --g-color-private-red-600-solid: rgb(233, 93, 91);
    --g-color-private-red-500-solid: rgb(255, 116, 113);
    --g-color-private-red-450-solid: rgb(255, 131, 129);
    --g-color-private-red-400-solid: rgb(255, 147, 144);
    --g-color-private-red-350-solid: rgb(255, 162, 160);
    --g-color-private-red-300-solid: rgb(255, 178, 176);
    --g-color-private-red-250-solid: rgb(255, 193, 192);
    --g-color-private-red-200-solid: rgb(255, 209, 208);
    --g-color-private-red-150-solid: rgb(255, 224, 223);
    --g-color-private-red-100-solid: rgb(255, 232, 231);
    --g-color-private-red-50-solid: rgb(255, 240, 239);

    --g-color-private-blue-50: rgba(86, 133, 251, 0.1);
    --g-color-private-blue-100: rgba(86, 133, 251, 0.15);
    --g-color-private-blue-150: rgba(86, 133, 251, 0.2);
    --g-color-private-blue-200: rgba(86, 133, 251, 0.3);
    --g-color-private-blue-250: rgba(86, 133, 251, 0.4);
    --g-color-private-blue-300: rgba(86, 133, 251, 0.5);
    --g-color-private-blue-350: rgba(86, 133, 251, 0.6);
    --g-color-private-blue-400: rgba(86, 133, 251, 0.7);
    --g-color-private-blue-450: rgba(86, 133, 251, 0.8);
    --g-color-private-blue-500: rgba(86, 133, 251, 0.9);
    --g-color-private-blue-550-solid: rgb(86, 133, 251);
    --g-color-private-blue-1000-solid: rgb(42, 45, 67);
    --g-color-private-blue-950-solid: rgb(44, 50, 77);
    --g-color-private-blue-900-solid: rgb(50, 60, 99);
    --g-color-private-blue-850-solid: rgb(55, 71, 121);
    --g-color-private-blue-800-solid: rgb(60, 81, 143);
    --g-color-private-blue-750-solid: rgb(65, 91, 164);
    --g-color-private-blue-700-solid: rgb(70, 102, 186);
    --g-color-private-blue-650-solid: rgb(76, 112, 208);
    --g-color-private-blue-600-solid: rgb(81, 123, 229);
    --g-color-private-blue-500-solid: rgb(103, 145, 251);
    --g-color-private-blue-450-solid: rgb(120, 157, 252);
    --g-color-private-blue-400-solid: rgb(137, 170, 252);
    --g-color-private-blue-350-solid: rgb(154, 182, 253);
    --g-color-private-blue-300-solid: rgb(171, 194, 253);
    --g-color-private-blue-250-solid: rgb(187, 206, 253);
    --g-color-private-blue-200-solid: rgb(204, 218, 254);
    --g-color-private-blue-150-solid: rgb(221, 231, 254);
    --g-color-private-blue-100-solid: rgb(230, 237, 254);
    --g-color-private-blue-50-solid: rgb(238, 243, 255);

    --g-color-private-purple-50: rgba(189, 126, 251, 0.1);
    --g-color-private-purple-100: rgba(189, 126, 251, 0.15);
    --g-color-private-purple-150: rgba(189, 126, 251, 0.2);
    --g-color-private-purple-200: rgba(189, 126, 251, 0.3);
    --g-color-private-purple-250: rgba(189, 126, 251, 0.4);
    --g-color-private-purple-300: rgba(189, 126, 251, 0.5);
    --g-color-private-purple-350: rgba(189, 126, 251, 0.6);
    --g-color-private-purple-400: rgba(189, 126, 251, 0.7);
    --g-color-private-purple-450: rgba(189, 126, 251, 0.8);
    --g-color-private-purple-500: rgba(189, 126, 251, 0.9);
    --g-color-private-purple-550-solid: rgb(189, 126, 251);
    --g-color-private-purple-1000-solid: rgb(57, 44, 67);
    --g-color-private-purple-950-solid: rgb(65, 48, 77);
    --g-color-private-purple-900-solid: rgb(81, 58, 99);
    --g-color-private-purple-850-solid: rgb(96, 68, 121);
    --g-color-private-purple-800-solid: rgb(112, 78, 143);
    --g-color-private-purple-750-solid: rgb(127, 87, 164);
    --g-color-private-purple-700-solid: rgb(143, 97, 186);
    --g-color-private-purple-650-solid: rgb(158, 107, 208);
    --g-color-private-purple-600-solid: rgb(174, 116, 229);
    --g-color-private-purple-500-solid: rgb(196, 139, 251);
    --g-color-private-purple-450-solid: rgb(202, 152, 252);
    --g-color-private-purple-400-solid: rgb(209, 165, 252);
    --g-color-private-purple-350-solid: rgb(215, 178, 253);
    --g-color-private-purple-300-solid: rgb(222, 191, 253);
    --g-color-private-purple-250-solid: rgb(229, 203, 253);
    --g-color-private-purple-200-solid: rgb(235, 216, 254);
    --g-color-private-purple-150-solid: rgb(242, 229, 254);
    --g-color-private-purple-100-solid: rgb(245, 236, 254);
    --g-color-private-purple-50-solid: rgb(248, 242, 255);


    --g-color-base-brand: #ACB8C8;
    --g-color-base-background: rgb(255, 255, 255);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgba(0, 0, 0, 0.85);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);

}

.g-root_theme_dark {

    --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;

    --g-color-private-brand-50: rgba(172, 184, 200, 0.1);
    --g-color-private-brand-100: rgba(172, 184, 200, 0.15);
    --g-color-private-brand-150: rgba(172, 184, 200, 0.2);
    --g-color-private-brand-200: rgba(172, 184, 200, 0.3);
    --g-color-private-brand-250: rgba(172, 184, 200, 0.4);
    --g-color-private-brand-300: rgba(172, 184, 200, 0.5);
    --g-color-private-brand-350: rgba(172, 184, 200, 0.6);
    --g-color-private-brand-400: rgba(172, 184, 200, 0.7);
    --g-color-private-brand-450: rgba(172, 184, 200, 0.8);
    --g-color-private-brand-500: rgba(172, 184, 200, 0.9);
    --g-color-private-brand-550-solid: rgb(172, 184, 200);
    --g-color-private-brand-1000-solid: rgb(243, 244, 247);
    --g-color-private-brand-950-solid: rgb(238, 241, 244);
    --g-color-private-brand-900-solid: rgb(230, 234, 239);
    --g-color-private-brand-850-solid: rgb(222, 227, 233);
    --g-color-private-brand-800-solid: rgb(214, 220, 228);
    --g-color-private-brand-750-solid: rgb(205, 212, 222);
    --g-color-private-brand-700-solid: rgb(197, 205, 217);
    --g-color-private-brand-650-solid: rgb(189, 198, 211);
    --g-color-private-brand-600-solid: rgb(180, 191, 206);
    --g-color-private-brand-500-solid: rgb(158, 169, 183);
    --g-color-private-brand-450-solid: rgb(144, 153, 167);
    --g-color-private-brand-400-solid: rgb(131, 138, 150);
    --g-color-private-brand-350-solid: rgb(117, 122, 134);
    --g-color-private-brand-300-solid: rgb(103, 107, 117);
    --g-color-private-brand-250-solid: rgb(89, 91, 100);
    --g-color-private-brand-200-solid: rgb(75, 76, 84);
    --g-color-private-brand-150-solid: rgb(62, 60, 67);
    --g-color-private-brand-100-solid: rgb(55, 52, 59);
    --g-color-private-brand-50-solid: rgb(48, 45, 51);

    --g-color-private-orange-50: rgba(253, 171, 99, 0.1);
    --g-color-private-orange-100: rgba(253, 171, 99, 0.15);
    --g-color-private-orange-150: rgba(253, 171, 99, 0.2);
    --g-color-private-orange-200: rgba(253, 171, 99, 0.3);
    --g-color-private-orange-250: rgba(253, 171, 99, 0.4);
    --g-color-private-orange-300: rgba(253, 171, 99, 0.5);
    --g-color-private-orange-350: rgba(253, 171, 99, 0.6);
    --g-color-private-orange-400: rgba(253, 171, 99, 0.7);
    --g-color-private-orange-450: rgba(253, 171, 99, 0.8);
    --g-color-private-orange-500: rgba(253, 171, 99, 0.9);
    --g-color-private-orange-550-solid: rgb(253, 171, 99);
    --g-color-private-orange-1000-solid: rgb(255, 242, 232);
    --g-color-private-orange-950-solid: rgb(255, 238, 224);
    --g-color-private-orange-900-solid: rgb(254, 230, 208);
    --g-color-private-orange-850-solid: rgb(254, 221, 193);
    --g-color-private-orange-800-solid: rgb(254, 213, 177);
    --g-color-private-orange-750-solid: rgb(254, 205, 161);
    --g-color-private-orange-700-solid: rgb(254, 196, 146);
    --g-color-private-orange-650-solid: rgb(253, 188, 130);
    --g-color-private-orange-600-solid: rgb(253, 179, 115);
    --g-color-private-orange-500-solid: rgb(231, 157, 93);
    --g-color-private-orange-450-solid: rgb(209, 143, 86);
    --g-color-private-orange-400-solid: rgb(187, 128, 80);
    --g-color-private-orange-350-solid: rgb(165, 114, 73);
    --g-color-private-orange-300-solid: rgb(144, 100, 67);
    --g-color-private-orange-250-solid: rgb(122, 86, 60);
    --g-color-private-orange-200-solid: rgb(100, 72, 54);
    --g-color-private-orange-150-solid: rgb(78, 57, 47);
    --g-color-private-orange-100-solid: rgb(67, 50, 44);
    --g-color-private-orange-50-solid: rgb(56, 43, 41);

    --g-color-private-green-50: rgba(135, 230, 132, 0.1);
    --g-color-private-green-100: rgba(135, 230, 132, 0.15);
    --g-color-private-green-150: rgba(135, 230, 132, 0.2);
    --g-color-private-green-200: rgba(135, 230, 132, 0.3);
    --g-color-private-green-250: rgba(135, 230, 132, 0.4);
    --g-color-private-green-300: rgba(135, 230, 132, 0.5);
    --g-color-private-green-350: rgba(135, 230, 132, 0.6);
    --g-color-private-green-400: rgba(135, 230, 132, 0.7);
    --g-color-private-green-450: rgba(135, 230, 132, 0.8);
    --g-color-private-green-500: rgba(135, 230, 132, 0.9);
    --g-color-private-green-550-solid: rgb(135, 230, 132);
    --g-color-private-green-1000-solid: rgb(237, 251, 237);
    --g-color-private-green-950-solid: rgb(231, 250, 230);
    --g-color-private-green-900-solid: rgb(219, 248, 218);
    --g-color-private-green-850-solid: rgb(207, 245, 206);
    --g-color-private-green-800-solid: rgb(195, 243, 194);
    --g-color-private-green-750-solid: rgb(183, 240, 181);
    --g-color-private-green-700-solid: rgb(171, 238, 169);
    --g-color-private-green-650-solid: rgb(159, 235, 157);
    --g-color-private-green-600-solid: rgb(147, 233, 144);
    --g-color-private-green-500-solid: rgb(125, 210, 122);
    --g-color-private-green-450-solid: rgb(115, 190, 112);
    --g-color-private-green-400-solid: rgb(105, 170, 103);
    --g-color-private-green-350-solid: rgb(95, 150, 93);
    --g-color-private-green-300-solid: rgb(85, 130, 83);
    --g-color-private-green-250-solid: rgb(74, 109, 73);
    --g-color-private-green-200-solid: rgb(64, 89, 63);
    --g-color-private-green-150-solid: rgb(54, 69, 54);
    --g-color-private-green-100-solid: rgb(49, 59, 49);
    --g-color-private-green-50-solid: rgb(44, 49, 44);

    --g-color-private-yellow-50: rgba(251, 228, 137, 0.1);
    --g-color-private-yellow-100: rgba(251, 228, 137, 0.15);
    --g-color-private-yellow-150: rgba(251, 228, 137, 0.2);
    --g-color-private-yellow-200: rgba(251, 228, 137, 0.3);
    --g-color-private-yellow-250: rgba(251, 228, 137, 0.4);
    --g-color-private-yellow-300: rgba(251, 228, 137, 0.5);
    --g-color-private-yellow-350: rgba(251, 228, 137, 0.6);
    --g-color-private-yellow-400: rgba(251, 228, 137, 0.7);
    --g-color-private-yellow-450: rgba(251, 228, 137, 0.8);
    --g-color-private-yellow-500: rgba(251, 228, 137, 0.9);
    --g-color-private-yellow-550-solid: rgb(251, 228, 137);
    --g-color-private-yellow-1000-solid: rgb(254, 251, 237);
    --g-color-private-yellow-950-solid: rgb(254, 250, 231);
    --g-color-private-yellow-900-solid: rgb(254, 247, 220);
    --g-color-private-yellow-850-solid: rgb(253, 244, 208);
    --g-color-private-yellow-800-solid: rgb(253, 242, 196);
    --g-color-private-yellow-750-solid: rgb(253, 239, 184);
    --g-color-private-yellow-700-solid: rgb(252, 236, 172);
    --g-color-private-yellow-650-solid: rgb(252, 233, 161);
    --g-color-private-yellow-600-solid: rgb(251, 231, 149);
    --g-color-private-yellow-500-solid: rgb(229, 208, 127);
    --g-color-private-yellow-450-solid: rgb(208, 188, 116);
    --g-color-private-yellow-400-solid: rgb(186, 168, 106);
    --g-color-private-yellow-350-solid: rgb(164, 148, 96);
    --g-color-private-yellow-300-solid: rgb(143, 129, 86);
    --g-color-private-yellow-250-solid: rgb(121, 109, 75);
    --g-color-private-yellow-200-solid: rgb(99, 89, 65);
    --g-color-private-yellow-150-solid: rgb(77, 69, 55);
    --g-color-private-yellow-100-solid: rgb(67, 59, 49);
    --g-color-private-yellow-50-solid: rgb(56, 49, 44);

    --g-color-private-red-50: rgba(255, 100, 97, 0.1);
    --g-color-private-red-100: rgba(255, 100, 97, 0.15);
    --g-color-private-red-150: rgba(255, 100, 97, 0.2);
    --g-color-private-red-200: rgba(255, 100, 97, 0.3);
    --g-color-private-red-250: rgba(255, 100, 97, 0.4);
    --g-color-private-red-300: rgba(255, 100, 97, 0.5);
    --g-color-private-red-350: rgba(255, 100, 97, 0.6);
    --g-color-private-red-400: rgba(255, 100, 97, 0.7);
    --g-color-private-red-450: rgba(255, 100, 97, 0.8);
    --g-color-private-red-500: rgba(255, 100, 97, 0.9);
    --g-color-private-red-550-solid: rgb(255, 100, 97);
    --g-color-private-red-1000-solid: rgb(255, 232, 231);
    --g-color-private-red-950-solid: rgb(255, 224, 223);
    --g-color-private-red-900-solid: rgb(255, 209, 208);
    --g-color-private-red-850-solid: rgb(255, 193, 192);
    --g-color-private-red-800-solid: rgb(255, 178, 176);
    --g-color-private-red-750-solid: rgb(255, 162, 160);
    --g-color-private-red-700-solid: rgb(255, 147, 144);
    --g-color-private-red-650-solid: rgb(255, 131, 129);
    --g-color-private-red-600-solid: rgb(255, 116, 113);
    --g-color-private-red-500-solid: rgb(233, 93, 91);
    --g-color-private-red-450-solid: rgb(211, 86, 84);
    --g-color-private-red-400-solid: rgb(189, 79, 78);
    --g-color-private-red-350-solid: rgb(167, 72, 72);
    --g-color-private-red-300-solid: rgb(145, 65, 66);
    --g-color-private-red-250-solid: rgb(122, 57, 59);
    --g-color-private-red-200-solid: rgb(100, 50, 53);
    --g-color-private-red-150-solid: rgb(78, 43, 47);
    --g-color-private-red-100-solid: rgb(67, 40, 43);
    --g-color-private-red-50-solid: rgb(56, 36, 40);

    --g-color-private-blue-50: rgba(86, 133, 251, 0.1);
    --g-color-private-blue-100: rgba(86, 133, 251, 0.15);
    --g-color-private-blue-150: rgba(86, 133, 251, 0.2);
    --g-color-private-blue-200: rgba(86, 133, 251, 0.3);
    --g-color-private-blue-250: rgba(86, 133, 251, 0.4);
    --g-color-private-blue-300: rgba(86, 133, 251, 0.5);
    --g-color-private-blue-350: rgba(86, 133, 251, 0.6);
    --g-color-private-blue-400: rgba(86, 133, 251, 0.7);
    --g-color-private-blue-450: rgba(86, 133, 251, 0.8);
    --g-color-private-blue-500: rgba(86, 133, 251, 0.9);
    --g-color-private-blue-550-solid: rgb(86, 133, 251);
    --g-color-private-blue-1000-solid: rgb(230, 237, 254);
    --g-color-private-blue-950-solid: rgb(221, 231, 254);
    --g-color-private-blue-900-solid: rgb(204, 218, 254);
    --g-color-private-blue-850-solid: rgb(187, 206, 253);
    --g-color-private-blue-800-solid: rgb(171, 194, 253);
    --g-color-private-blue-750-solid: rgb(154, 182, 253);
    --g-color-private-blue-700-solid: rgb(137, 170, 252);
    --g-color-private-blue-650-solid: rgb(120, 157, 252);
    --g-color-private-blue-600-solid: rgb(103, 145, 251);
    --g-color-private-blue-500-solid: rgb(81, 123, 229);
    --g-color-private-blue-450-solid: rgb(76, 112, 208);
    --g-color-private-blue-400-solid: rgb(70, 102, 186);
    --g-color-private-blue-350-solid: rgb(65, 91, 164);
    --g-color-private-blue-300-solid: rgb(60, 81, 143);
    --g-color-private-blue-250-solid: rgb(55, 71, 121);
    --g-color-private-blue-200-solid: rgb(50, 60, 99);
    --g-color-private-blue-150-solid: rgb(44, 50, 77);
    --g-color-private-blue-100-solid: rgb(42, 45, 67);
    --g-color-private-blue-50-solid: rgb(39, 39, 56);

    --g-color-private-purple-50: rgba(189, 126, 251, 0.1);
    --g-color-private-purple-100: rgba(189, 126, 251, 0.15);
    --g-color-private-purple-150: rgba(189, 126, 251, 0.2);
    --g-color-private-purple-200: rgba(189, 126, 251, 0.3);
    --g-color-private-purple-250: rgba(189, 126, 251, 0.4);
    --g-color-private-purple-300: rgba(189, 126, 251, 0.5);
    --g-color-private-purple-350: rgba(189, 126, 251, 0.6);
    --g-color-private-purple-400: rgba(189, 126, 251, 0.7);
    --g-color-private-purple-450: rgba(189, 126, 251, 0.8);
    --g-color-private-purple-500: rgba(189, 126, 251, 0.9);
    --g-color-private-purple-550-solid: rgb(189, 126, 251);
    --g-color-private-purple-1000-solid: rgb(245, 236, 254);
    --g-color-private-purple-950-solid: rgb(242, 229, 254);
    --g-color-private-purple-900-solid: rgb(235, 216, 254);
    --g-color-private-purple-850-solid: rgb(229, 203, 253);
    --g-color-private-purple-800-solid: rgb(222, 191, 253);
    --g-color-private-purple-750-solid: rgb(215, 178, 253);
    --g-color-private-purple-700-solid: rgb(209, 165, 252);
    --g-color-private-purple-650-solid: rgb(202, 152, 252);
    --g-color-private-purple-600-solid: rgb(196, 139, 251);
    --g-color-private-purple-500-solid: rgb(174, 116, 229);
    --g-color-private-purple-450-solid: rgb(158, 107, 208);
    --g-color-private-purple-400-solid: rgb(143, 97, 186);
    --g-color-private-purple-350-solid: rgb(127, 87, 164);
    --g-color-private-purple-300-solid: rgb(112, 78, 143);
    --g-color-private-purple-250-solid: rgb(96, 68, 121);
    --g-color-private-purple-200-solid: rgb(81, 58, 99);
    --g-color-private-purple-150-solid: rgb(65, 48, 77);
    --g-color-private-purple-100-solid: rgb(57, 44, 67);
    --g-color-private-purple-50-solid: rgb(50, 39, 56);


    --g-color-base-brand: #ACB8C8;
    --g-color-base-background: rgb(34, 29, 34);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgba(0, 0, 0, 0.9);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
}