:root {
  --color-background: #f5f5f5;
  --color-background-rgb: 245, 245, 245;

  --color-border: #e8e8e8;
  --color-border-rgb: 220, 220, 220;

  --color-selected: unset;

  --color-font: #444444;
  --color-font-rgb: 33, 53, 71;
  --color-font-variable: white;

  --color-icon: #8f8e8e;
  --color-icon-rgb: 143, 142, 142;

  // --menu-height: 68px;
  --control-radius: 8px;
}
