.questions {
  //   max-width: 100%;
  color: #444444;
  margin-top: auto;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__list {
    padding: 0 16px 8px;
    // padding-left: 500px;
    display: flex;
    gap: 16px;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
  }
  &__item {
    flex-shrink: 0;
    width: 500px;
    // mix-blend-mode: plus-lighter;
    &_description {
      padding: 16px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 8px;
    }
  }
  &__label {
    margin-bottom: 12px;
  }
  .g-text-area__control {
    font-size: 16px;
    background-color: #f6f6f6;
  }
  .g-text-area__content {
    border: none;
  }
}
