.page-history {
  height: 100%;
  overflow-y: auto;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1040px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30vh 20px;

    gap: 40px 0;
  }
  &__row-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__item {
    width: 30%;
    min-width: 280px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;
    background-color: transparent;
    border-radius: 16px;
    transition: background-color, 0.2s;

    &:hover {
      background-color: #fff;
    }
    &_active {
      background-color: #fff;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
  }
  &__color {
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  &__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 18px;
  }
  &__description-wrapper {
    height: 0;
    border-radius: 16px;
    transition: height, 0.2s;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  &__description {
    width: 100%;
    background-color: #fff;

    padding: 32px;
  }

  &__description-item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description-title {
    font-size: 18px;
    font-weight: 500;
  }
  &__description-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 940px) {
  .page-history {
    &__row {
      justify-content: center;
      gap: 40px;
    }
  }
}
@media screen and (max-width: 620px) {
  .page-history {
    &__row {
      justify-content: flex-start;
    }
  }
}

@keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
