.page-history {
  height: 100%;
  // overflow-y: autco;
  padding-top: 20px;
  display: grid;
  grid-template-rows: max-content auto;
  gap: 6px;
  &__title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  &__list {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    overflow: auto;
  }
  &__item {
    // height: 68px;
    display: block;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;
    background-color: transparent;
    border-bottom: 1px solid var(--color-border);
    transition: background-color, 0.2s;

    &:last-child {
      margin-right: auto;
    }
  }
  &__open-button {
    margin-left: auto;
    align-self: center;
  }
  &__color {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  &__item-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__date {
    font-size: 14px;
    line-height: 14px;
    color: rgba(var(--color-font-rgb), 0.7);
  }
  &__description-wrapper {
    height: 0;
    border-radius: 16px;
    transition: height, 0.2s;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  &__description {
    width: 100%;
    padding: 32px;
    background-color: #fff;
  }

  &__description-item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description-title {
    font-size: 18px;
    font-weight: 500;
  }
  &__description-text {
    font-size: 16px;
  }
  &__empty {
    max-width: 250px;
    margin: 0 auto;
    padding: 30px 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__empty-pic {
    width: 50px;
    margin-top: 30px;
  }
}
