.emotion-select {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 8px;

  &__filter {
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 16px;
    input {
      width: 100%;
      padding: 4px 8px;
      border-radius: var(--control-radius);
      border: 1px solid var(--color-border);
      font-family: inherit;
      font-size: inherit;
    }
  }

  &__field {
    padding: 2px 8px;
    border-radius: 4px;
    background-color: #fff;
  }
  &__title {
    margin-bottom: 4px;
  }
  &__list {
    padding: 0 2px;
  }
  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;

    margin-bottom: 30px;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}
