.detail-page {
  padding: 20px 16px;
  color: var(--color-selected-font);
  font-size: 18px;
  &__back {
    color: var(--color-selected-font);
    opacity: 0.9;
  }
  &__title {
    font-size: 22px;

    font-weight: 600;
    text-align: center;
    // margin-bottom: 4px;
  }
  &__subtitle {
    font-size: 14px;
    text-align: center;
    color: var(--color-selected-font);
    opacity: 0.7;
    margin-bottom: 32px;
  }
  &__description-title {
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
  }
  &__description-item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
