.app {
  width: 100%;
  max-width: 480px;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto max-content;
  transition: background-color, 0.4s;
  position: relative;
  margin: 0 auto;

  &__content {
    overflow: auto;
  }
}
