@use 'src/styles';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // scrollbar-color: rgba(0, 0, 0, 0.6) transparent;
  // scrollbar-width: thin;

  --scrollbar-color-thumb: rgba(0, 0, 0, 0.4);
  --scrollbar-color-track: transparent;
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 6px;
  /* Legacy browsers with `::-webkit-scrollbar-*` support */
  // @supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-color-track);
  }
  ::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }
  // }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
#root {
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  font-family: Montserrat;
  &.g-root {
    font-size: var(--g-text-body-2-font-size);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  // background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

// button:hover {
//   border-color: #646cff;
// }

// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    // background-color: #f9f9f9;
  }
}
